body
{
    background-color: #898b8b;
    width: 1000px;
    margin: 0 auto;
}

header
{
    width:1000px;
    height:135px;
    background-image: url(img/main-header.jpg);
}

nav
{
    width:176px;
    height: 500px;
    font-size: .85em;
    line-height: 1.5em;
    color: white;
    background-color: black;
    float: left;
    font-family:sans-serif;
    
}

main
{   
    background-image: url(img/main-canvas-tile.jpg);    
    width:824px;
    height: 500px;
    float: right;
    background-repeat: repeat-y;
     
}

.main-section 
{
    padding: 0px 45px 0px 20px;
    text-align: justify;
    
}

footer
{
    background-image: url(img/main-footer.jpg);    
    background-repeat: repeat-y;
    width:1000px;
    height: 30px;
    float: left;
    padding-left: 20px;

    color: yellow;
    
}

footer pre
{
    margin-top: 8px;
}


footer pre a 
{
    color: yellow;
}
